/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.scss";

body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

.loading-skeleton {
  color: transparent;
  appearance: none;
  background-color: #eee;
  border-color: #eee;
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;
}

@keyframes loading-skeleton {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}